<div class="body">
    <h3>Can we please have some demographic information about you?</h3>
    <div id="registerform">
        <div id="message">{{message}}</div>
        <form method="POST">
            First Name:<br>
            <input type="text" name="firstname" value="{{firstname}}"><br>
            Last Name:<br>
            <input type="text" name="lastname" value="{{lastname}}"><br>
            Email Address:
            <input type="text" name="email" value="{{email}}"><br>
            Password:
            <input type="password" name="password"><br>
            Age:<br>
            <input type="text" name="age" value="{{age}}"><br>
            City:<br>
            <input type="text" name="city" value="{{city}}"><br>
            Website:
            <input type="text" name="website" value="{{url}}"><br>
            <input type="submit" value="update">
        </form>
    </div>
</div>
