<div class="body">
    <div class="form" id="signatures">
        <h3>We the undersigned demand that Donald Trump be exiled to Mexico!<br><br>His worst fear.</h3>
        <div id="message">{{message}}</div>
        {{#each sigList}}
            <h4>
                {{#if this.url}}
                    <a href="{{this.url}}">{{this.firstname}} {{this.lastname}}</a>
                {{else}}
                    {{this.firstname}} {{this.lastname}}
                {{/if}}
                {{#if this.age}}
                    ({{this.age}}{{#if this.city}},
                     <a href="signatures/{{this.city}}">{{this.city}}</a>)
                    {{else}}){{/if}}
                {{else if this.city}}
                    (<a href="signatures/{{this.city}}">{{this.city}}</a>)
                {{/if}}
                </h4>
        {{/each}}
    </div>
</div>
