<div class="body">
    <h2>We the undersigned demand that Donald Trump be exiled to Mexico! </h2>
    <p>This is not meant as an insult or burden upon Mexico at all, this is simply the most sinister form
        of torture "The Donald" could possibly imagine!</p>

    {{#each sigList}}
        <h4>
            {{#if this.url}}
                <a href="{{this.url}}">{{this.firstname}} {{this.lastname}}</a>
            {{else}}
                {{this.firstname}} {{this.lastname}}
            {{/if}}
            {{#if this.age}}
                ({{this.age}}{{#if this.city}},
                 <a href="{{this.city}}">{{this.city}}</a>)
                {{else}}){{/if}}
            {{else if this.city}}
                (<a href="{{this.city}}">{{this.city}}</a>)
            {{/if}}
            </h4>
    {{/each}}
</div>
